h2.red {
    color: red;
}

h2.blue {
    color: blue;
}

h2.special{
    color:rgb(131, 44, 212);
    text-decoration: wavy;
    text-decoration: underline;
    margin: 20px ;
}

#contents {
    text-align: center;
    text-decoration-line: underline;
}