h2.red {
    color: red;
}

h2.blue {
    color: blue;
}

#h2-special {
    border: 2px solid green;
}

h2.special{
    color:aqua;
}

h2.special1{
    color:blueviolet;
}

#contents {
    border: 2px purple ;
    text-align: center;
    text-decoration-line: underline;
}